# Build outputs
**/bin/
**/obj/
**/Debug/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE folders
.vs/
.vscode/

# Test results
TestResults/

# NuGet
*.nupkg
*.snupkg
**/packages/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

projetF.sln